html,body {
    margin: 0;
    padding: 0;
  	overflow: hidden;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
	background: #081B2B;
    /*background: #eeeeee url('../images/bg.png');*/
	height:100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.snap-drawers {
	background: #081B2B;
	color: rgba(255,255,255,0.8);
	width: 266px;
}

.snap-drawer {
	padding: 0 15px;
}

.snap-drawer ul {
	list-style:none;
}

.snap-drawer ul li a {
	text-decoration:none;
	color: rgba(255,255,255,0.83);
}

.content {
	height:100%;
}

.toolbar {
  position: relative;
  color:#fff;
  background: rgba(24, 82, 130, 1);
  width: auto;
  height: 44px;
}

.title-bar {
	text-align:center;
	vertical-align: middle;
	position:absolute;
	line-height:5px;
	top:0;
	height:44px;
	right:44px;
	left:44px;
}

#open-left {
  background: url(../images/open.png) center center no-repeat;
  display: block;
  width: 44px;
  height: 44px;
}

#todoapp .content .login {
    width: 350px;
    margin: 45px auto 25px auto;
}

#todoapp .content .login h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

#todoapp .content .login input {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    width: 340px;;
}

#todoapp .content .login .signup-form {
    margin-top: 25px;
}

#todoapp .content .login button {
    padding: 5px 10px;
    background: #eee;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Helvetica Neue";
}

#todoapp .content .login .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.section { 
	position: relative;
	margin-top: 10px;
}

#todo-list .spinner {margin: 15px auto;}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
#main-list,
#main-list ul,
.accordion-drop {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    font-size: 16px;
    text-align: left;
	background:gray;
  font-family: Raleway, sans-serif;
}

#main-list ul ul {display: none;}
#main-list > ul > li.active > ul {display: block;}
.align-right {float: right;}
#main-list ul > li.has-sub {padding: 3px 0;}
	
.accordion-drop {
	padding: 30px 35px;
	margin: 0 20px;
	cursor: pointer;
	z-index: 2;
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
	background: rgba(24, 82, 130, 0.8);
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	word-break: break-word;
}

.accordion-drop p {
	margin:0;
    display: inline-block;
	vertical-align : middle;
}

#main-list ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 33px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#main-list ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 37px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#main-list ul > li.has-sub.open > a:after,
#main-list ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.more-info {
	margin: 0 30px;
	padding: 14px 22px;
	z-index: 2;
    font-size: 14px;
    background: rgba(255,255,255,0.76);
}

.more-info-text{
	text-decoration:none;
 	color: #dddddd;
}

#main-list ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
#main-list ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}

.fa-li.fa-lg {
	line-height:inherit;
	position:absolute;
	top:17px;
	left: -50px;
	text-align:center;
}

#todo-list li.completed { 
	background:rgba(188,188,188,0.7);
}

#todo-list li.completed p {
    color: #a9a9a9;
    text-decoration: line-through;
}


#footer {
    color: #777;
    padding: 0 40px;
    position: absolute;
    right: 0;
    bottom: -31px;
    left: 0;
    z-index: 1;
    text-align: center;
}

#footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 31px;
    left: 0;
    height: 100px;
    z-index: -1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    0 6px 0 -3px rgba(255, 255, 255, 0.8),
    0 7px 1px -3px rgba(0, 0, 0, 0.3),
    0 42px 0 -6px rgba(255, 255, 255, 0.8),
    0 43px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
    float: left;
    text-align: left;
}

#filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

#filters li {
    display: inline;
}

#filters li a {
    color: #83756f;
    margin: 2px;
    text-decoration: none;
}

#filters li a.selected {
    font-weight: bold;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.snap-content {width: 70%;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.snap-content {width: 100%;}

}

